

.red {

  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  margin-left: 430px;


}

.green {

  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
  margin: auto;


}

.yellow {

  width: 100px;
  height: 100px;
  background-color: yellow;
  float: left;
  margin: auto;

}

.blue {

  width: 100px;
  height: 100px;
  background-color: blue;
  float: left;
  margin: auto


}

.textContainer {
  font-family: 'josefin sans', serif;
  font-size: 24px;
text-align: center;
padding-bottom: 20px;
}
